arbo.md
*.jar
*.war
*.ear
*.class
*.log
*.iml
*.ipr
*.iws
out/
build/
target/
.DS_Store
.idea/
.vscode/
nbproject/private/
dist/
nbbuild/
nbdist/
.nb-gradle/
.gradle/
build/
.gradle/
hs_err_pid*.log
logs/
tmp/
temp/
*.swp
*~
thumbs.db
ehthumbs.db
Desktop.ini
*.bak
*.old
*.orig
*.rej
*.swo
bdd/
build-file/
*.xml
*.jasper
*.jrxml
bootstrap/
*.log
*.tmp
build-file/
build-file/
*.iml
build.xml
import-db-local.bat
required.txt
resetbase.txt
create-user-local.bat
socobis-ejb/src/java/apj.properties
create-user-local.sql
verify-import.sql
socobis-war/web/dateBuild.txt
reset-dtb.bat
deploy.bat