 .card * {
     transition: color 0.3s, transform 0.3s, border-color 0.3s;
 }

 .card {
     display: flex;
     width: calc(33% - 4px);
     height: fit-content;
     padding: var(--Bases-4-space-6, 24px);
     flex-direction: column;
     justify-content: flex-end;
     align-items: flex-start;
     gap: var(--Bases-4-space-2, 8px);
     flex-shrink: 0;
     border-radius: 16px;
     border: 1px solid var(--Border, #C3C5C6);
     background: #FFF;
     position: relative;
 }

 .card:hover {
     /* transform: scale(1.06) translateY(-5px); */
     background: var(--Primaire-blue-main-color, #2B68D9);
     transition: 300ms;
     color: #ffffff;
 }

 .card-content h3 {
     color: var(--Text-Text-primary, #1C1F21);
     margin: 0;
     height: 56px;
 }

 .card-content p {
     color: var(--Text-Text-secondary, #9B9EA0);
     /* Body - 14px - Regular */
     font-family: "DM Sans";
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: 21px;
     height: 69px;
 }

 .card:hover>.card-content>h3 {
     color: var(--White, #FFF);
 }

 .card:hover>.card-content>p {
     color: var(--Primaire-blue-100, #BFD1F4);
 }

 .card .icon {
     font-size: 36px;
     color: #fff;
     display: flex;
     width: 44px;
     height: 44px;
     padding: 8px;
     justify-content: center;
     align-items: center;
     flex-shrink: 0;
     aspect-ratio: 1/1;
     /* border: 2.5px solid #1976d2; */
     /* border-radius: 50%; */
     padding: 6px;
     /* background-color: #1976d2; */
     /* background: transparent; */
     transition: border-color 0.3s, transform 0.3s;

     border-radius: 8px;
     background: var(--Primaire-blue-main-color, #2B68D9);
 }

 .card:hover .icon {
     border-color: #1976d2;
     color: #fff !important;
     transform: scale(1.12);
 }

 .card-content h3 {
     color: #222;
    margin: 0;
 }

 .card-content:hover {
     margin: 0;
     font-size: 1.2rem;
     color: #ffffff;
 }

 .card-content p {
     color: #666;
 }

 .arrow {
     font-size: 25px;
     position: absolute;
     top: 22px;
     right: 22px;
     color: #FFF;
 }
 /*rectif responsive*/
 .card-wrapper{
     display: flex;
     flex-wrap: wrap;
     gap: 8px;
     justify-content: start;
  }
 @media screen and (max-width: 600px) {
     .card {
         width: calc(50% - 4px);
     }
 }