/* non italic */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 100 1000;
    font-display: swap;
    src: url(../fonts/DMSans-VariableFont_opsz.ttf) format('truetype');
}
/* italic */
@font-face {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 100 1000;
    font-display: swap;
    src: url(../fonts/DMSans-Italic-VariableFont_opsz.ttf) format('truetype');
}
:root {
    /* 🎨 Couleurs primaires */
    --Primaire-blue-main-color: #2b68d9;
    --Primaire-blue-050: #e9f0fb;
    --Primaire-blue-100: #bfd1f4;
    --Primaire-blue-200: #95b3ec;
    --Primaire-blue-300: #6a95e4;
    --Primaire-blue-400: #4077dd;
    --Primaire-blue-500: #275ec4;
    --Primaire-blue-600: #1e4998;
    --Primaire-blue-700: #16346d;
    --Primaire-blue-800: #0d1f42;
    --Primaire-blue-900: #09152b;

    /* 🎨 Couleurs Onyx */
    --Onyx-main-color: #373e41;
    --Onyx-025: #f9f9f9;
    --Onyx-035: #f3f4f4;
    --Onyx-050: #ebebec;
    --Onyx-100: #c3c5c6;
    --Onyx-200: #9b9ea0;
    --Onyx-300: #73787a;
    --Onyx-400: #4b5154;
    --Onyx-500: #32383b;
    --Onyx-600: #272c2e;
    --Onyx-700: #1c1f21;
    --Onyx-800: #111314;
    --Onyx-900: #060607;

    /* ✅ Semantic Colors */
    --Success-300: #6ae4a7;
    --Success-500: #27c475;
    --Success-main: #2bd982;

    --Warning-base: #ebab23;
    --Warning-dark: #d49a20;
    --Warning-light: #f1c465;

    --Error-base: #e22424;
    --Error-dark: #cc2020;
    --Error-light: #e85050;

    /* 🔘 Boutons */
    --Button-primary-main: var(--Primaire-blue-main-color);
    --Button-primary-hover: var(--Primaire-blue-500);
    --Button-primary-pressed: var(--Primaire-blue-700);
    --Button-primary-focus: var(--Primaire-blue-main-color);

    /* ⚪️ État désactivé */
    --Disable-fill: var(--Onyx-025);
    --Disable-value: var(--Onyx-100);

    /* 📏 Bordures et hover */
    --Border: var(--Onyx-100);
    --Hover: var(--Onyx-025);
    --Pressed: var(--Onyx-035);

    /* 🖋️ Textes */
    --White: #ffffff;
    --Text-primary: var(--Onyx-700);
    --Text-secondary: var(--Onyx-200);
    --Placeholder: var(--Onyx-100);

    /* 🖼️ Background */
    --Background-primaire: #ffffff;
    --Background-secondaire: var(--Onyx-025);
    --Background-tertiaire: var(--Onyx-035);
    --Background-overlay: rgba(17, 19, 20, 0.5);

    /* 📐 Spacing (px) */
    --Bases-4-space-0: 0px;
    --Bases-4-space-1: 4px;
    --Bases-4-space-2: 8px;
    --Bases-4-space-3: 12px;
    --Bases-4-space-4: 16px;
    --Bases-4-space-5: 20px;
    --Bases-4-space-6: 24px;
    --Bases-4-space-7: 28px;
    --Bases-4-space-8: 32px;
    --Bases-4-space-9: 36px;
    --Bases-4-space-10: 40px;
    --Bases-4-space-12: 48px;
    --Bases-4-space-14: 56px;
    --Bases-4-space-16: 64px;
    --Bases-4-space-18: 72px;
    --Bases-4-space-20: 80px;
    --Bases-4-space-24: 96px;
    --Bases-4-space-32: 128px;
    --Bases-4-space-40: 160px;

    /* 📏 Sizes */
    --Size-small: 34px;
    --Size-medium: 40px;
    --Size-large: 48px;
}
* {
    font-family: DM Sans, sans-serif;
}

.Body14pxRegular {
    font-size: 14px;
    font-family: DM Sans, sans-serif;
    font-weight: 400;
    line-height: 21px;
}

.Body14pxSemiBold {
    font-size: 14px;
    font-family: DM Sans, sans-serif;
    font-weight: 600;
    line-height: 21px;
}

.h617pxRegular{
    font-size: 17px;
    font-family: DM Sans, sans-serif;
    font-weight: 400;
    line-height: 25.5px;
}
.h617pxSemibold {
    font-size: 17px;
    font-family: DM Sans, sans-serif;
    font-weight: 600;
    line-height: 25.5px;
}

.h520pxSemibold {
    font-size: 20px;
    font-family: DM Sans, sans-serif;
    font-weight: 600;
    line-height: 30px;
}

.h424pxBold {
    font-size: 24px;
    font-family: DM Sans, sans-serif;
    font-weight: 700;
    line-height: 36px;
}

.h329pxBold {
    font-size: 29px;
    font-family: DM Sans, sans-serif;
    font-weight: 700;
    line-height: 36px;
}

.h235pxBold {
    font-size: 35px;
    font-family: DM Sans, sans-serif;
    font-weight: 700;
    line-height: 44px;
}

.h142pxBold {
    font-size: 42px;
    font-family: DM Sans, sans-serif;
    font-weight: 700;
    line-height: 50px;
}

.Label12pxRegular {
    font-size: 12px;
    font-family: DM Sans, sans-serif;
    font-weight: 400;
    line-height: 18px;
}

.Label12pxSemiBold {
    font-size: 12px;
    font-family: DM Sans, sans-serif;
    font-weight: 600;
    line-height: 18px;
}

.Small10pxRegular {
    font-size: 10px;
    font-family: DM Sans, sans-serif;
    font-weight: 400;
    line-height: 12.5px;
}

.Small10pxBold {
    font-size: 10px;
    font-family: DM Sans, sans-serif;
    font-weight: 700;
    line-height: 12.5px;
}

.Small10pxSemiBold {
    font-size: 10px;
    font-family: DM Sans, sans-serif;
    font-weight: 600;
    line-height: 12.5px;
}

.ShadowFloateffect {
    box-shadow: 0px 3px 5px rgba(56, 62, 65, 0.05), 0px 10px 10px rgba(56, 62, 65, 0.04), 0px 23px 14px rgba(56, 62, 65, 0.03), 0px 40px 16px rgba(56, 62, 65, 0.01), 0px 63px 17px rgba(56, 62, 65, 0);
}

.ShadowFloatBlue {
    box-shadow: 0px 3px 6px rgba(59, 105, 204, 0.1), 0px 11px 11px rgba(59, 105, 204, 0.09), 0px 25px 15px rgba(59, 105, 204, 0.05), 0px 44px 17px rgba(59, 105, 204, 0.01), 0px 68px 19px rgba(59, 105, 204, 0);
}

/*button*/
.btn {
    display: inline-flex;
    min-height: 40px;
    padding: var(--Bases-4-space-2, 8px) var(--Bases-4-space-3, 12px);
    align-items: center;
    gap: var(--Bases-4-space-2, 8px);
    border-radius: var(--Bases-4-space-1, 4px);
    min-width: fit-content;
    overflow: hidden;
}
.btn.btn-small{
    min-height: 34px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
}

/*button primary*/
.btn.btn-primary {
    background-color: var(--Primaire-blue-main-color);
    color: var(--Onyx-025, #f9f9f9);
    border: none;
}
.btn img{
    height: 38px;
}
.btn-small img{
    height: 30px;
}

.btn.btn-primary:hover {
    background: var(--Button-primary-hover, #275EC4);
}

.btn.btn-primary:active {
    background: var(--Primaire-blue-600, #1E4998);
}

.btn.btn-primary:focus {
    background: var(--Button-primary-focus, #2B68D9);
}

.btn.btn-primary:disabled {
    background: var(--Disable-fill, #F9F9F9);
    color: var(--Disable-value, #C3C5C6);
    cursor: not-allowed;
}

/*btn secondary*/
.btn.btn-secondary {
    color: var(--Text-primary);
    border: 1px solid var(--Onyx-100, #C3C5C6);
    background: transparent;
}

.btn.btn-secondary:hover {
    border-radius: 4px;
    border: 1px solid var(--Onyx-100, #C3C5C6);
    background: var(--Onyx-025, #F9F9F9);
}

.btn.btn-secondary:active {
    border-radius: 4px;
    border: 1px solid var(--Onyx-100, #C3C5C6);
    background: var(--Onyx-050, #EBEBEC);
}

.btn.btn-secondary:focus {
    border-radius: 4px;
    border: 1px solid var(--Onyx-100, #C3C5C6);
    background: var(--Onyx-025, #F9F9F9);
}

.btn.btn-secondary:disabled {
    border-radius: 4px;
    border: 1px solid var(--Disable-value, #C3C5C6);
    color: var(--Disable-value, #C3C5C6);
    background-color: var(--Disable-fill, #F9F9F9);
    cursor: not-allowed;
}

/*btn tertiary*/
.btn.btn-tertiary {
    background: transparent;
    color: var(--Text-primary);
}

.btn.btn-tertiary:hover {
    background: var(--Onyx-025, #F9F9F9);
}

.btn.btn-tertiary:active {
    background: var(--Onyx-050, #EBEBEC);
}

.btn.btn-tertiary:disabled {
    color: var(--Disable-value, #C3C5C6);
    background: transparent;
    cursor: not-allowed;
}

/*btn danger*/
.btn.btn-secondary.btn-danger>i {
    color: var(--Error-base, #E22424);
}

/* input */
.input-label {
    font-family: DM Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: middle;
}
.form-control {
    display: flex;
    padding: var(--Bases-4-space-2, 8px) var(--Bases-4-space-3, 12px);
    align-items: center;
    gap: var(--Bases-4-space-3, 12px);
    align-self: stretch;
    height: var(--Size-small, 34px);
    border: 1px solid var(--Border, #C3C5C6);
    border-radius: var(--Bases-4-space-1, 4px);
    min-width: 128px;
}
.form-input{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: calc(50% - 10px);
    margin: 0;
}
.form-input span.col-md-12.row.nopadding{
    margin: 0 !important;
}
.import-input .form-input #fileInput {
    height: 40px;
}
.import-input .btn {
    height: 40px !important;
    min-height: 40px !important;
}
.global-search-input{
    width: 40rem !important;
}
.import-input {
    display: flex;
    align-items: end;
}
.currentMenu {
    background-color: var(--Primaire-blue-main-color) !important;
    border-radius: 4px;
    color: white !important;
    display: flex;
    padding: var(--Bases-4-space-2, 8px) var(--Bases-4-space-4, 16px);
    align-items: center;
    gap: 10px;
    align-self: stretch;
    color: white !important;
}
.sidebar-menu .treeview-menu>li {
    margin-left: 13px;
    margin-right: 8px;
}
.dropdown>li.active>a:first-child {
    background-color: var(--Onyx-050, #EBEBEC);
    margin-bottom: 6px;
}
.main-sidebar>img {
    /* margin-inline: auto; */
    width: 64%;
}
.content-wrapper{
    margin-top: 74px;
    margin-left: 244px;
    padding: 20px;
    background-color: var(--Background-secondaire, #FFFFFF);
}
.skin-yellow-light .sidebar-menu>li.header {
    color: var(--Text-secondary, #9B9EA0);
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



/* siderBar / recherche global */
.sidebar-menu .treeview-menu>li>a {
    padding-left: 8px;
}
.content-wrapper .box-body{
    padding: var(--Bases-4-space-0,0px);
}
.sidebar-menu .treeview-menu>li>a:hover {
    /* color: #000; */
    border-radius: 4px;
    background-color: #f4f4f4;
}

.sidebar a {
    box-shadow:none;
}

.main-header>.navbar {
    min-height: 74px;
}

.main-sidebar,
.left-side {
    width: 244px;
}

.recherche-global {
    margin-left: 0%;
}

.main-header>.navbar {
    margin-left: 250px;
}

/* .main-header .logo {
    text-align: left;
} */

.skin-yellow-light .main-header .navbar .sidebar-toggle {
    /* color: #fff; */
    margin-top: 8px;
}
.header .navbar .sidebar-toggle:hover {
    background-color: #ffffff !important;
    cursor: pointer;
}
.main-header>.navbar {
    margin-left: 243px;
    border-left: 1px solid var(--Border);
    border-bottom: 1px solid var(--Border);
    position: fixed;
    width: calc(100% - 244px);
}
.sidebar-collapse>.wrapper>.main-header>.navbar {
    width:calc(100% - var(--Bases-4-space-16));
}

/* .main-header .logo {
    text-align: left;
} */

.skin-yellow-light .main-header .navbar .sidebar-toggle {
    /* color: #fff; */
    margin-top: 8px;
}
.header .navbar .sidebar-toggle:hover {
    background-color: #ffffff !important;
    cursor: pointer;
}

.skin-yellow-light .wrapper, .skin-yellow-light .main-sidebar, .skin-yellow-light .left-side {
    background-color: var(--Background-primaire, #FFFFFF);
}
/*page insert*/
.cardradius{
    padding: var(--Bases-4-space-4,16px);
    border-radius: var(--Bases-4-space-2,8px);
    margin-top: var(--Bases-4-space-4);
    border: 1px solid var(--Border,#C3C5C6);
}
.row{
    margin-left: 10px;
    margin-right: 10px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-right: 10px;
    padding-left: 10px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    border-top: none;
}
.nopadding{
    padding: 0 !important;
}
.input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 20px;
}
form.container{
    padding: 0 !important;
}
/*tableau*/
th.contenuetable,th.contenuetable>a,th.contenuetable>a>i{
    background-color: var(--Primaire-blue-050, #F9F9F9);
    color: var(--Onyx-800, #111314) !important;
    white-space: nowrap;
}
th.contenuetable>a>i{
    font-size: var(--Bases-4-space-3, 12px);
}
.btn-group-container .btn {
    margin-right: var(--Bases-4-space-3) !important;
}
.btn-group-container .btn:first-child,.box-footer .btn:first-child {
    margin-right: var(--Bases-4-space-0) !important;
}
/*titre*/
.content-wrapper > h1, .content-wrapper > h3, div.box-title {
    font-size: 29px;
    font-family: DM Sans, sans-serif;
    font-weight: 700;
    line-height: 36px;
    text-align: start;
    margin: 0;
}
/*fiche*/
.bottom-vente-fiche{
    padding: 0!important;
    box-shadow: none;
}
.bottom-vente-fiche > .box >h2{
    margin: var(--Bases-4-space-0, 0) !important;
}
.bottom-vente-fiche > .box{
    margin-bottom: 12px;
    border-radius: 10px !important;
    padding: var(--Bases-4-space-5);
    border: 1px solid var(--Border);
}
.bottom-vente-fiche > .box >div{
    padding: var(--Bases-4-space-0, 0) !important;
}
.cardradius {
    box-shadow: none;
    border-top: 1px solid var(--Border) !important;
    background-color: var(--Background-primaire, #FFFFFF);
}
.box-footer {
    display: block;
    border-top: 1px solid var(--Border);
    padding: var(--Bases-4-space-4) 0 0 0;
}

.box-fiche > .box {
    border-radius: var(--Bases-4-space-4) !important;
    box-shadow: none;
    border: 1px solid var(--Border) !important;
}
.nav-tabs-custom > .tab-content {
    border: 1px solid var(--Border);
    box-shadow: none;
    padding: var(--Bases-4-space-4) 0;
}
.tab-content.box-body {
    padding: 0 !important;
}
.nav-tabs-custom > .nav-tabs {
    border: 1px solid var(--Border);
    border-top-right-radius: var(--Bases-4-space-4);
    border-top-left-radius: var(--Bases-4-space-4);
    border-bottom: transparent;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
}

.nav-tabs-custom > .nav-tabs > li.active {
    border-bottom: 3px solid var(--Primaire-blue-main-color);
}
.table > thead > tr > th {
    border-bottom: none;
}

.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: transparent;
}
#butjsp > .content-wrapper > .row > .col-md-6 {
    width: 100%;
    padding: 0 !important;
    margin-bottom: var(--Bases-4-space-6);
}
.box {
    margin-bottom: 0;
    border-radius: var(--Bases-4-space-4);
    box-shadow: none;
    border: 1px solid var(--Border);
}
.nav-tabs-custom{
    box-shadow: none;
}
.tab-content >.box-body> .w-100 {
    padding: var(--Bases-4-space-3) var(--Bases-4-space-5);
}
/*details fiche*/
.fiche-label{
    color: var(--Text-secondary) !important;
}
.fiche-details{
    color: var(--Text-primary) !important;
}
/*page recherche*/
.filtrebtn {
    margin-top: 26.1px;
}
.col-md-10.btn-group-container {
    padding-top: var(--Bases-4-space-2);
}
.content-header > h1 {
    text-align: start;
    font-family: DM Sans, sans-serif;
    font-size: 29px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: var(--Bases-4-space-5);
}
.content {
    padding: 0;
}
.table-container {
    padding: var(--Bases-4-space-4);
    border: 1px solid var(--Border);
    border-radius: var(--Bases-4-space-4);
    background-color: var(--Background-primaire);
}
.table-container:last-child {
    margin-bottom: var(--Bases-4-space-5);
}
.content-header {
    padding: 0;
}

.main-header .sidebar-toggle:before {
    content: " "
}
.skin-yellow-light .wrapper, .skin-yellow-light .main-sidebar, .skin-yellow-light .left-side {
    background-color: var(--Background-primaire) !important;
}

.skin-yellow-light .sidebar-menu > li.header {
    background: var(--Background-primaire) !important;
}
.main-header {
    background-color: var(--Background-primaire) !important;
}
.content-wrapper, .right-side{
    margin-left: 244px;
    margin-top: 74px !important;
}
.main-footer {
    margin-left: 244px;
}
@media screen and (max-width: 768px) {
    .content-wrapper, .right-side, .main-footer {
        margin-left: 0 !important;
    }
}
@media screen and (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .main-header .navbar {
        margin-left: var(--Bases-4-space-16);
    }
}
.sidebar-mini.sidebar-collapse .content-wrapper,
.sidebar-mini.sidebar-collapse .right-side,
.sidebar-mini.sidebar-collapse .main-footer {
    margin-left:var(--Bases-4-space-16);
}
@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .main-sidebar {
        width: var(--Bases-4-space-16) !important;
    }
}

.page-page-container {
    display: flex;
    justify-content: space-between;
    padding: 0 !important;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding:  var(--Bases-4-space-1) var(--Bases-4-space-1);
}
.tab-content > .box-body > div > .col-md-12 > .box-solid.table-container {
    border: none;
    border-radius: 0;
    margin: 0;
}
.m-0 {
    margin: 0;
}
.box-title {
    display: flex;
    gap: 8px;
}
.box-title a {
    position: static;
}
.box-title i {
    color: var(--Onyx-900);
    font-size: var(--Bases-4-space-6);
}
.sidebar {
    height: 87vh !important;
    overflow: auto;
}
.fiche-container {
    padding: 0;
}
.collapsed {
    margin-bottom: var(--Bases-4-space-5);
}
.p-0-4 {
    padding: 0 var(--Bases-4-space-4);
}

.main-header .sidebar-toggle {
    position: absolute;
    left: -50px;
    top: 24px;
}

.dropdown,
.dropup {
    position: relative;
    margin-top: 24px;
    margin-left: 9px;
}
.mb-5 {
    margin-bottom: var(--Bases-4-space-5);
}
.d-flex{
    display: flex;
}
.gp-2{
    gap: var(--Bases-4-space-1);
}
.input-span{
    width: 100%;
}
.btnheight {
    height: 34px;
}
/*drag and drop*/
.draganddropcol {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.draganddropcol-element {
    padding: 8px 4px;
    background-color: var(--Background-primaire);
    border-radius: 4px;
    border: 1px solid var(--Border);
}
.draganddropcolcontainer {
    padding: 16px;
    background-color: var(--Background-primaire);
    border: 1px solid var(--Border);
    border-radius: 12px;
}


.filtretitle {
    font-size: 20px;
    font-weight: 600;
    color: var(--Text-primary);
}

/*table plus*/
.details_collapse {
    box-shadow: rgba(138, 138, 138, 0.15) 8px 4px 10px 12px;
    border-radius: 4px;
    padding: 8px;
}
.collapse-container .box-body {
    border: none !important;
    padding: 0;
    border-radius: 4px;
}

.table-container .table-container {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-radius: 8px;
}
.w-100 {
    width: 100%;
}

.submit {
    padding: 4px 8px;
    background-color: var(--Background-primaire);
    border: 1px solid var(--Border);
    border-radius: 4px;
    width: 28px;
}
.submit:hover {
    background-color: var(--Background-tertiaire);
}
/*vente direct ui 01*/
.vente-directe-left-container {
    flex-direction: column;
    gap: var(--Bases-4-space-5);
}
.vente-direct-box {
    background-color: var(--Background-primaire);
    border-radius: var(--Bases-4-space-2);
    border: 1px solid var(--Border);
    padding: var(--Bases-4-space-4);
}
.vente-direct-box .product-img{
    width: inherit;
    max-height: 273px;
}
.vente-direct-box .placeholder-text{
    color: var(--Text-secondary);
}
.vente-direct-box .d-flex{
    justify-content: space-between;
}
.vente-directe-right-container .table-container.nopadding{
    border-radius: var(--Bases-4-space-2);
}
/*input avec btn*/
.input-with-addons{
    border-radius: var(--Bases-4-space-1);
    border: 1px solid var(--Border);
    overflow: hidden;
    width: 100%;
}
.input-with-addons.with-btn-left .btn.btn-left{
    border-right: 1px solid var(--Border);
    border-left: none;
}
.input-with-addons .form-control{
    border-radius: 0;
    border: none;
}
.input-with-addons .btn,.input-with-addons .btn:hover{
    border-radius: 0;
    border-top: none;
    border-bottom: none;
    border-right: none;
}
/*maj layout*/
.table-container.nopadding {
    overflow: auto;
}
.row::before,.row::after {
    display: none;
}

.vente-directe-right-container {
    flex-direction: column;
    gap: var(--Bases-4-space-4);
    background-color: var(--Background-primaire);
    padding: var(--Bases-4-space-3);
    border: 1px solid var(--Border);
    border-radius: var(--Bases-4-space-2);
    height: fit-content;
    max-height: 100%;
    width: 100%;
}
/*modal*/
.modal-dialog {
    width: 60%;
}

.modal-content {
    background-color: transparent;
    box-shadow: none;
}

.search-bar-box {
    background-color: white;
    padding: var(--Bases-4-space-3);
    border-radius: var(--Bases-4-space-2);
}

.search-result-container {
    text-align: start;
    background-color: white;
    padding: var(--Bases-4-space-3);
    border-radius: var(--Bases-4-space-2);
}
.search-result-container .table-container{
    border-radius: var(--Bases-4-space-2);
}
.table-container .table tbody tr td{
    vertical-align: middle;
}
.table-container img{
    width: 45%;
    height: 36px !important;
}
.box-footer.total-container {
    text-align: end;
    padding: var(--Bases-4-space-2);
    overflow: hidden;
    border-radius: var(--Bases-4-space-2);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.box-body.recap-achat {
    padding: var(--Bases-4-space-2);
    text-align: end;
}
.box-body.recap-achat .d-flex{
    justify-content: space-between;
}
.d-none {
    display: none;
}

/*maj nav bar */

@media screen and (max-width: 990px) {
    .recherche-global {
        /* width: 74% !important; */
        width: 80% !important;
    }
}
.global-search-input {
    width: 100% !important;
}

.navbar.navbar-static-top {
    justify-content: start;
}

.navbar-custom-menu {
    margin-left: auto;
}
/*maj vente directe*/
.vente-directe__product-image {
    height: 273px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.vente-directe-right-container .table-container.nopadding {
    max-height: 43vh;
    overflow: auto;
}
/*recherche global container*/
.recherche-global-container{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    margin-top: 28px;
    flex-direction: row;
}
/*resp mobile*/
@media screen and (max-width: 768px) {
    .content-wrapper, .right-side {
        margin-top:  calc(74px + 58px) !important;
        padding: 12px !important;
        margin-left: 0 !important;
    }
    .global-search-input {
        width: 100%;
    }
    .navbar.navbar-static-top {
        width: 100% !important;
    }
    .recherche-global-container{
        flex-direction: column;
        align-items: start;
        margin-top: 0;
    }
    .global-search-input {
        width: 100% !important;
    }
    .recherche-global {
        width: 100% !important;
    }
    .navbar.navbar-static-top {
        margin-left: 0 !important;
        display: flex;
        align-items: center;
    }
    .dropdown.user.user-menu {
        display: flex;
        align-items: center;
        position: relative;
    }
    .main-header .sidebar-toggle {
        left: 0;
        top: -64px;
    }
}
.recherche-global {
    width: 80%;
}
.navbar {
    display: flex;
}

/*maj*/
@media (max-width:767px) {
    .main-sidebar,
    .left-side {
        -webkit-transform:translate(-243px, 0);
        -ms-transform:translate(-243px, 0);
        -o-transform:translate(-243px, 0);
        transform:translate(-243px, 0);
    }
}
/*maj onglet*/
.page-page-container.onglet {
    justify-content: end;
    padding-right: 16px !important;
}
.no-data-msg {
    font-size: 20px;
    font-family: DM Sans, sans-serif;
    font-weight: 600;
    line-height: 30px;
    margin: 0;
    margin-left: 16px;
}
/*editor*/
.toolbar {
    margin: 0 !important;
}
.rich-editor {
    height: 64px !important;
    min-height: 64px;
}
/*correction responsive*/
.borderless {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
}
.gap-2 {
    gap: var(--Bases-4-space-2);
}
@media screen and (max-width: 500px){
    .form-input{
        width: 100%;
    }
}
.skin-yellow-light.sidebar-mini.sidebar-collapse .left-menu{
    text-align: center;
}
.dropdown{
    margin-left: 0 !important;
}
.table-container.borderless.nopadding {
    padding-right: inherit !important;
    border-radius: 0;
}
@media screen and (max-width: 768px){
    .containerColAffTrie {
        display: none;
    }
    .filtrebtn {
        margin-left: 0 !important;
    }
}